.group__form__content__wrapper {
  margin-top:100px;
}

.new__room__warraper {
  height:100vh;
  width: 100%;
  margin-top:60px;
  position: fixed;
  background-color:#f0f4ffcf;
}

.room_form {
  text-align: center;
}

.form__group {
  padding:30px;
}
